body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    padding: 20px;
}

header {
    text-align: center;
}

.foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    animation: floatAnimation 3s infinite ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.login-box {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}

a {
    margin-left: 10px;
    color: #00e676;
    text-decoration: none;
}

a.hapus {
    color: red;
}

.logout {
    float: right;
    margin-right: 20px;
    color: orange;
}