body {
    /* font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/1200x/52/d8/d1/52d8d1f436ee3cdca55fdc1a55937c3c.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    animation: floatAnimation 5s infinite ease-in-out;
    transition: transform 0.3s ease-in-out;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}


.login-box {
    background: rgba(207, 10, 10, 0.388);
    padding: 53px;
    width: 300px;
    border-radius: 10px;
    text-align: left;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

button {
    background-color: #e06925;
    color: white;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    background: rgba(145, 0, 0, 0.6);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}

a {
    margin-left: 10px;
    color: #e06925;
    text-decoration: none;
}

a.hapus {
    color: red;
}

.logout {
    padding: 12px 20px;
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: darkorange;
}
